[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg.git
[submodule "polly"]
	path = polly
	url = https://github.com/pokey909/polly.git
[submodule "sqlite3-src"]
	path = sqlite3-src
	url = https://github.com/mezum/sqlite-amalgamation-mirror.git
[submodule "opusfile-src"]
	path = opusfile-src
	url = https://github.com/xiph/opusfile.git
